.app-navbar {
    color: black !important;
}

.navbar-icon {
  color: white !important;
}

.app-toolbar {
  display: flex;
  flex-direction: row;
}

.app-searchbox {
  margin-left: 50vw;
}

.search-box {
  color: white !important;
}

.nav-links {
  margin-left: 2vw;
}

.app-link {
  text-decoration: none;
  color: inherit;
  margin-right: 1vw;
}

.email-list {
  margin: 3vh 4vw;
}